<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776; bonjour</a>
    </li>
    <!--li  class="nav-item">
      <a href="#" class="nav-link navbar-toggler" 
                   appMobileSidebarToggler>
        <i class="fa fa-envelope"></i><span class="badge">4</span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <div class="notification_header">
            <h3>You have 3 new messages</h3>
          </div>
        </li>
        <li><a href="#">
          <div class="user_img"><img src="src/images/1.jpg" alt=""></div>
          <div class="notification_desc">
          <p>Lorem ipsum dolor amet</p>
          <p><span>1 hour ago</span></p>
          </div>
          <div class="clearfix"></div>	
        </a></li>
        <li class="odd"><a href="#">
          <div class="user_img"><img src="src/images/4.jpg" alt=""></div>
          <div class="notification_desc">
          <p>Lorem ipsum dolor amet </p>
          <p><span>1 hour ago</span></p>
          </div>
          <div class="clearfix"></div>	
        </a></li>
        <li><a href="#">
          <div class="user_img"><img src="src/images/3.jpg" alt=""></div>
          <div class="notification_desc">
          <p>Lorem ipsum dolor amet </p>
          <p><span>1 hour ago</span></p>
          </div>
          <div class="clearfix"></div>	
        </a></li>
        <li><a href="#">
          <div class="user_img"><img src="src/images/2.jpg" alt=""></div>
          <div class="notification_desc">
          <p>Lorem ipsum dolor amet </p>
          <p><span>1 hour ago</span></p>
          </div>
          <div class="clearfix"></div>	
        </a></li>
        <li>
          <div class="notification_bottom">
            <a href="#">See all messages</a>
          </div> 
        </li>
      </ul>
    </li-->
  </ul>

 
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']"><i class="icon-user"></i> Usuários</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  <a href="https://www.linkedin.com/in/gael-kamga-18279a106">K2G</a> &copy; 2019 K2G.
  <span class="float-right">Powered by <a href="https://www.linkedin.com/in/gael-kamga-18279a106">K2G</a></span>
</footer>
